/* CSS */
/* heritage */

body {
	font-family: "myriad pro", sans-serif;
	font-style: normal;
	font-size: 18px;
	color: #ffffff;
	line-height: 1.6;
	background: #111721;
}

.icon{
	text-align: center;
	margin: 100px auto;
}
.logo {
	position: absolute;
	animation-name: move;
    animation-duration: 2s;
}
@-webkit-keyframes move {
    from {
    	opacity: 0;
    	-webkit-transform: translate(20px,-40px);
    	transform: translate(20px,-40px);
    	-o-transform: translate(20px,-40px);
    	-ms-transform: translate(20px,-40px);
    	-moz-transform: translate(20px,-40px);
    }
    to {
    	opacity: 1;
    	transform: translate(0,0);
    	-webkit-transform: translate(0,0);
    	-o-transform: translate(0,0);
    	-ms-transform: translate(0,0);
    	-moz-transform: translate(0,0);
    }
}
.logo2 {
	animation-name: move1;
    animation-duration: 2s;
}
@-webkit-keyframes move1 {
    from {
    	opacity: 0;
    	-webkit-transform: translate(-20px,40px);
    	transform: translate(-20px,40px);
    	-o-transform: translate(-20px,40px);
    	-ms-transform: translate(-20px,40px);
    	-moz-transform: translate(-20px,40px);
    }
    to {
    	opacity: 1;
    	transform: translate(0,0);
    	-webkit-transform: translate(0,0);
    	-o-transform: translate(0,0);
    	-ms-transform: translate(0,0);
    	-moz-transform: translate(0,0);
    }
}
.title{
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	animation-name: move2;
    animation-duration: 1s;
}
.blue{
	color: #2298bb;
}

.bio{
	text-align: center;
	margin: 60px;
	animation-name: move2;
    animation-duration: 1s;
}
.contenu{
	max-width: 400px;
	text-align: center;
	margin: auto;
}
li{
	width: 50%;
	margin: 10px;
	list-style: none;
	display: inline;
}
.lien{
	margin-right: 45px;
	text-align: center;
	animation-name: move2;
    animation-duration: 1s;
}
i {
	color: #ffffff;
	opacity: 0.7;
}
i:hover{
	opacity: 1;
}
@-webkit-keyframes move2 {
    from {
    	opacity: 0;
    	-webkit-transform: translate(0px,-10px);
    	transform: translate(0px,-10px);
    	-o-transform: translate(0px,-10px);
    	-ms-transform: translate(0px,-10px);
    	-moz-transform: translate(0px,-10px);
    }
    to {
    	opacity: 1;
    	transform: translate(0,0);
    	-webkit-transform: translate(0,0);
    	-o-transform: translate(0,0);
    	-ms-transform: translate(0,0);
    	-moz-transform: translate(0,0);
    }
}